@import "global/normalize";
@import "global/fonts";
@import "global/variables";
@import "global/sprite-svg";
@import "global/mixins";
@import "global/icons";
@import "global/scaffolding";
@import "global/general";
.full-bg-color {
    background-color: $c-primary;
}

.second-bg-color {
    background-color: #0e44a2;
}

// HEADER
.top {
    padding-bottom: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .15);
    &-line {
        height: 9px;
        background-image: url(../img/top-img.png);
    }
}

.menu-list {
    margin-top: 3px;
    &__item {
        float: left;
        margin-right: 34px;
        font-size: 13px;
        margin-top: 3px;
    }
    &__item a {
        color: #707070;
    }
    &__item a:hover {
        color: #ff5915;
    }
}

.icon {
    display: inline-block;
    vertical-align: middle;
    background: url(../img/sprite.png) no-repeat;
    width: 15px;
    height: 15px;
    &-1 {
        background-position: 4px -48px;
    }
    &-2 {
        background-position: -8px -48px;
    }
    &-3 {
        background-position: -41px -49px;
    }
    &-4 {
        background-position: -23px -48px;
    }
    &-5 {
        background-position: -59px -48px;
    }
    &-6 {
        background: url(../img/certificate.png) no-repeat;
    }
    &-7 {
        background-position: -89px -49px;
    }
    &-8 {
        background-position: -74px -48px;
    }
}

.menu-user {
    margin-top: 7px;
    font-size: 13px;
    color: #17539f;
}

.logo {
    margin-top: 15px;
    &__text {
        font-size: 10px;
    }
}

.feedback {
    padding-left: 20px;
}

.info {
    margin-bottom: 24px;
    &__number {
        position: relative;
        margin-top: 10px;
        padding-left: 30px;
        font-size: 20px;
        font-weight: 600;
        width: 175px;
        height: 65px;
    }
    &__number-kyivstar,
    &__number-vodafone {
        position: relative;
    }
    &__number-kyivstar::after {
        content: "";
        position: absolute;
        top: 3px;
        left: -22px;
        width: 18px;
        height: 17px;
        background-image: url(../img/sprite2.png);
        background-position: -8px -62px;
    }
    &__number-vodafone::after {
        content: "";
        position: absolute;
        top: 3px;
        left: -22px;
        width: 18px;
        height: 17px;
        background-image: url(../img/sprite2.png);
        background-position: -9px 49px;
    }
    &__number-feedback {
        position: relative;
        color: #0067a5;
        font-size: 12px;
        font-weight: 700;
        padding-left: 20px;
        &:hover {
            color: #ff5a16;
        }
    }
    &__number-feedback::after {
        content: "";
        width: 14px;
        height: 14px;
        position: absolute;
        top: 0px;
        left: 3px;
        background: url(../img/sprite.png) no-repeat;
        background-position: -18px 2px;
    }
    &__search {
        position: relative;
        margin-top: 32px;
        width: 282px;
        height: 35px;
    }
    &__search>input {
        width: 100%;
        height: 100%;
        background: #f6f6f6;
        border: 1px solid #dcddde;
        border-radius: 3px;
        padding: 0 0 0 4%;
        font-size: 14px;
        color: #a9a9a9;
    }
    &__search-btn {
        width: 49px;
        height: 35px;
        border-radius: 0 3px 3px 0;
        background-color: red;
        position: absolute;
        top: 0;
        right: 0;
        background: url(../img/search.png) no-repeat #5295ec;
        background-position: center center;
        cursor: pointer;
    }
    &__search-btn:hover {
        background: url(../img/search.png) no-repeat #5ca2fd;
        background-position: center center;
    }
    &__bucket {
        margin-top: 20px;
        text-align: center;
        width: 206px;
        height: 56px;
        border-radius: 3px;
        background: url(../img/bucket.png) 10px 9px no-repeat #f5f5f5;
        padding: 10px 10px 10px 68px;
    }
    &__bucket-text {
        display: block;
        text-align: left;
        margin-top: 9px;
        color: #ff5a16;
        font-weight: 600;
    }
    &__bucket-text:hover {
        color: #333;
        font-weight: 600;
    }
}

.main-nav {
    font-size: 14px;
    height: 49px;
    background: #0e44a2;
}

.main-nav__list {
    &-item {
        position: relative;
        display: inline-block;
        float: left;
        margin-right: 1px;
        color: #fff;
        text-transform: uppercase;
        width: 16.66%;
        text-align: center;
        line-height: 49px;
        cursor: pointer;
        border-right: 1px solid #103e8f;
    }
    &-item a .arrow {
        vertical-align: middle;
        text-align: center;
        display: inline-block;
        width: 10px;
        height: 10px;
        background: url(../img/arrow.png) no-repeat;
        background-position: 1px 1px;
    }
    &-item:hover {
        background: #619ded;
        display: block;
    }
    &-item:hover .drop-menu {
        display: block;
    }
}

.drop-menu {
    display: none;
    position: absolute;
    width: 200px;
    background: #fff;
    text-align: left;
    border-radius: 0 5px 5px;
    border: 2px solid #619ded;
    box-shadow: 0 5px 38px -10px rgba(0, 0, 0, .5);
    padding-left: 10px;
    font-size: 13px;
    &__list-item {
        text-transform: none;
        color: #0e44a2;
        line-height: 1.3;
    }
    &__list-item a {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    &__list-item a:hover {
        color: #ff5a16;
    }
}

// HEADER
// CONTENT
// CONTENT
// FOOTER
// FOOTER