//Цвета 
$c-primary: #000000;
$c-secondary: #827e7c;
$c-third: #606060;

$c-bg-primary: #fff;
$c-bg-secondary: #ededed;
$c-bg-third: #fd936e;

$c-border: #de6b43;

//Типографика
$f-primary: 'PT Sans',sans-serif;
$f-secondary: "Helvetica", sans-serif;

// $f-sub-menu-size: 11px;

$f-text-size: 14px;

$f-base-lh: 1.3;